# CS 109A/STAT 121A/AC 209A/CSCI E-109A  

## Lab 2: Cleaning and EDA of Goodreads 

**Harvard University**<br>
**Fall 2017**<br>
**Instructors: Pavlos Protopapas, Kevin Rader, Rahul Dave, Margo Levine**

---

# Table of Contents 
<ol start="0">
<li> Learning Goals </li>
<li> Loading and Cleaning with Pandas</li>
<li> Asking Questions?  </li>
<li> Parsing and Completing the Dataframe  </li>
<li> EDA  </li>
<li> Determining the Best Books  </li>
<li>Trends in Popularity of Genres </li>
</ol>

In [1]:
# Prepares iPython notebook for working with matplotlib
%matplotlib inline 

import numpy as np # imports a fast numerical programming library
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes

#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

import seaborn as sns #sets up styles and gives us more plotting options

## Learning Goals

About 6000 odd "best books" were fetched and parsed from [Goodreads](https://www.goodreads.com). The "bestness" of these books came from a proprietary formula used by Goodreads and published as a list on their web site.

We parsed the page for each book and saved data from all these pages in a tabular format as a CSV file. In this lab we'll clean and further parse the data.  We'll then do some exploratory data analysis to answer questions about these best books and popular genres.  


By the end of this lab, you should be able to:

- Load and systematically address missing values, ancoded as `NaN` values in our data set, for example, by removing observations associated with these values.
- Parse columns in the dataframe to create new dataframe columns.
- Create and interpret visualizations to explore the data set

*This lab corresponds to lectures 2 and 3 and maps on to homework 1 and further.*

### Basic EDA workflow

(From the lecture, repeated here for convenience).

The basic workflow is as follows:

1. **Scrape**  data using beautiful soup and python request.
2. **Build** a DataFrame from the data (ideally, put all data in this object)
3. **Clean** the DataFrame. It should have the following properties:
    - Each row describes a single object
    - Each column describes a property of that object
    - Columns are numeric whenever appropriate
    - Columns contain atomic properties that cannot be further decomposed
4. Explore **global properties**. Use histograms, scatter plots, and aggregation functions to summarize the data.
5. Explore **group properties**. Use groupby and small multiples to compare subsets of the data.

This process transforms your data into a format which is easier to work with, gives you a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Part 1: Loading and Cleaning with Pandas 
Read in the `goodreads.csv` file, examine the data, and do any necessary data cleaning. 

Here is a description of the columns (in order) present in this csv file:

```
rating: the average rating on a 1-5 scale achieved by the book
review_count: the number of Goodreads users who reviewed this book
isbn: the ISBN code for the book
booktype: an internal Goodreads identifier for the book
author_url: the Goodreads (relative) URL for the author of the book
year: the year the book was published
genre_urls: a string with '|' separated relative URLS of Goodreads genre pages
dir: a directory identifier internal to the scraping code
rating_count: the number of ratings for this book (this is different from the number of reviews)
name: the name of the book
```

Report all the issues you found with the data and how you resolved them.  

[15 minutes]

----

In [4]:
dfbooks=pd.read_csv("data/goodreads.csv", header=None,
                   names=["rating", "review_count", "isbn", "booktype", "author_url", "year", "genre_urls", "dir", "rating_count", "name"])
type(dfbooks)

pandas.core.frame.DataFrame

In [5]:
dfbooks.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

In [6]:
dfbooks.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [9]:
dfbooks[dfbooks.isnull()]

      rating review_count isbn booktype author_url  year genre_urls  dir rating_count name
0        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
1        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
2        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
3        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
4        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
6        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
7        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
8        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
9        NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
10       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
11       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
12       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
13       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
14       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
15       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
16       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
17       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
18       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
19       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
20       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
21       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
22       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
23       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
24       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
25       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
26       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
27       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
28       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
29       NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
...      ...          ...  ...      ...        ...   ...        ...  ...          ...  ...
5970     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5971     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5972     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5973     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5974     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5975     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5976     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5977     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5978     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5979     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5980     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5981     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5982     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5983     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5984     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5985     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5986     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5987     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5988     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5989     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5990     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5991     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5992     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5993     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5994     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5995     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5996     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5997     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5998     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN
5999     NaN          NaN  NaN      NaN        NaN   NaN        NaN  NaN          NaN  NaN

[5998 rows x 10 columns]

In [ ]:
dfbooks = dfbooks[dfbooks.rating.notnull()]

##   Part 2: Asking Questions 
Think of few questions we want to ask and then examine the data and decide if the dataframe contains what you need to address these questions. 

[5 min]

---

##  Part 3: Parsing and Completing the Data Frame 

We will need author and genre to proceed! Parse the `author` column from the author_url and `genres` column from the genre_urls. Keep the `genres` column as a string separated by '|'.

Hint: Use panda's `map` to assign new columns to the dataframe.  

[10 minutes]

---

## Part 4: EDA 
Before proceeding any further, get to know the dataset using a few "global property" visualizations, illustrating histograms with both linear and log scales. Do you find anything interesting or strange? 


[10 minutes]

---


## Part 5:  Determining the Best Books 

This is an example of an analysis of the "grouped property" type.

Think of some reasonable definitions of what it could mean to be a "best book." (After all, these are all the best books according to Goodreads)

[5 minutes] 

---

## Part 6:  Trends in Popularity of Genres 

This is an example of an analysis of the "grouped property" type.

There are a lot of questions you could ask about genres.
* Which genre is currently the most popular?
* Better, based on our data, what draw conclusions can you draw about the time evolution of the popularity of each genre?

[15 minutes]

---

### Part 6.1: What can you conclude from the above visualizations?
Pick two or three genres and describe how the popularity of these genres fluctuates with time.